section {
    background-color: #f6f5ec;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
    transition: 0.3s;
    width: 22em;
    height: 30em;
    padding: 3em 1em 1em 1em; /* top, right, left, bottom */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding-bottom: 15px;
    color: black;
    font-weight: bold;
    font-size: 3em;
}

.submit-button {
    padding-top:15px;
    padding-bottom:15px;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

form {
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
}

input {
    padding-top: 10px;
    padding-bottom: 10px;
    color:black;
    align-self: center;
}