section {
    background-color: #f6f5ec;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    transition: 0.3s;
    width: 60vw;
    height: 70vh;
    padding: 4rem 2rem 5rem 2rem;
    /* top, right, left, bottom */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
    color: black;
    font-weight: bold;
    font-size: 3rem;
}

.submit-button {
    margin-top: 1rem;
    background-color: #04AA6D;
    border: none;
    color: white;
    text-decoration: none;
    width: 100%;
    display: block;
    cursor: pointer;
}

.submit-button:hover {
    margin-top: 1rem;
    background-color: #17ce8b;
    border: none;
    color: white;
    text-decoration: none;
    width: 100%;
    display: block;
    cursor: pointer;
}

p {
    margin-top: 1rem;
    color: black;
}

form {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    margin: .5rem;
    padding: .8rem .8rem .8rem .8rem;
    color: black;
    align-self: stretch;
}

input:hover {
    width: 100%;
    margin: .5rem;
    padding: .8rem .8rem .8rem .8rem;
    background-color: rgb(235, 229, 229);
    align-self: stretch;
}

div {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    border: none;
}